<div *ngIf="product$ | async as product"
     class="container main-container animated fadeIn fast">

    <h1>{{product.seller }} is selling : <span> {{product.name}}</span></h1>
    <span routerLink="/messages" class="badge badge-success">Talk with {{product.seller}}</span>
    <br>
    <div class="row">
        <div class="col-md-5">
            <img [src]="product.image"
                 class="img-thumbnail img-fluid">
        </div>
        <div class="col-md-7">
            <h3>Description</h3>
            <hr>
            <p class="text-justify">{{product.description}}</p>
            <p> Available units : {{product.units}}</p>
            <p> Price {{product.price | currency: 'USD': '$': '1.2-2'}}</p>

            <div class="col-md-7 left">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label for="quantity" class="col-xs-3 form-control-label">I want: </label>
                        <div class="col-xs-9">
                            <h5 class="form-control-static"> {{quantity}}</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="amount" class="col-xs-3 form-control-label">Total: </label>
                        <div class="col-xs-9">
                            <h5 class="form-control-static">{{amount | currency:'USD':'$':'1.2-2'}}</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <a class="btn btn-outline-success" (click)="addToCart()"><i class="fas fa-plus"></i></a>
                            <a class="btn btn-outline-danger" (click)="removeFromCart()"><i class="fas fa-minus"></i></a>
                        </div>
                    </div>
                </form>

            </div>

            <button routerLink="/home" type="button" class="btn btn-outline-danger">Back</button>
        </div>
    </div>
</div>

