<div class="container main-container">
    <div class="card mb-3" *ngIf="product$ | async as product" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img [src]="product.userImage | secureDom" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Hi {{product.seller}}</h4>
                    <h5 class="card-text">You can find purchase below</h5>
                </div>
            </div>
        </div>
    </div>

    <table class="table" >
        <thead class="thead-dark" >
        <tr>
            <th scope="col"> Product </th>
            <th scope="col">Units</th>
            <th scope="col">Seller</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products$ | async">
            <th>{{product.name}}</th>
            <th>{{product.units}}</th>
            <th>{{product.seller}}</th>
        </tr>
        </tbody>
    </table>
</div>

