/* You can add global styles to this file, and also import other style files */
.right {
    position: absolute;
    right: 100px;
    width: 500px;
    bottom: 60px;
    border: 3px solid #73AD21;
    padding: 30px;
}

.product-container {
    height: 650px;
    width: 850px;
    border: 1px white;
}

.product-container1 {
    height: 650px;
    width: 550px;
    border: 1px white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.card-img-top {
    border-radius: 5px 5px 0 0;
}
